<h1>Edit Cheerup:</h1>

<a href="http://localhost:4000/"><button class='nav'>All Cheerups</button></a>
<br>

<div class="edit">
  <form action="/{{cheerup.id}}?_method=put" method="post">
    <p>
      <label for="quote">Quote:</label>
      <input class="input" type="text" value="{{cheerup.quote}}" name="quote"/>
    </p>
    <p>
      <label for="author">Author:</label>
      <input class="input" type="text" value="{{cheerup.author}}" name="author"/>
    </p>
    <p>
      <label for="author">Likes:</label>
      <input class="input likes" type="number" value="{{cheerup.likes}}" name="likes"/>
    </p>
    <input class="button" type="submit" value="Submit" />
  </form>
</div>

<h2>“Be the change that you wish to see in the world.” Ghandi</h2>