<h1>New Cheerup:</h1>

<a href="http://localhost:4000/"><button>All Cheerups</button></a>
<br>

<div class="new">
<form action="/new" method="post" accept-charset="utf-8">
  <p>
    <label for="quote">Quote:</label>
    <input class="input" type="text" name="quote" placeholder="Hello World"/>
  </p>
    <p>
    <label for="author">Author:</label>
    <input class="input" type="text" name="author" placeholder="Brian Kernighan"/>
  </p>
  <input type="submit" value="Submit" />
</form>
</div>

<h2>“Life isn't about finding yourself. Life is about creating yourself.” George Bernard Shaw</h2>