<h1>New Cheerup:</h1>

<a href="http://localhost:4000/"><button>All Cheerups</button></a>

<form action="/new" method="post" accept-charset="utf-8">
  <p>
    <label for="quote">Quote:</label>
    <input type="text" name="quote"/>
  </p>
    <p>
    <label for="author">Author:</label>
    <input type="text" name="author"/>
  </p>
  <input type="submit" value="Submit" />
</form>