<h2>New Cheerup:</h2>

<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Quote:</label>
    <input type="text" name="quote"/>
  </p>
  <input type="submit" value="Submit" />
</form>