* {
    background-color: lightblue;
    font-family: arial;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: inline-block;
    align-content: center;
    border: 1px solid gray;
    height: 50px;
    width: 28%;
    margin: 1% 2% 1% 2%;
}