body {
    background-color: rgb(125, 188, 209);
    font-family: arial;
    text-align: center;
}

button, input {
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(125, 188, 209);
    color: rgb(7, 7, 7);
}

button, .button {
    margin-bottom: 1%;
    height: 24px;
}

h1 {
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    margin: 20px 0 20px 0;
}

p {
    margin: 10px 10px 10px 10px;
}

.nav {
    height: 25px;
    font-weight: bold;
    border: 1px solid rgb(125, 188, 209);
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input {
    width: 80%;
}

@media screen and (min-width: 1000px) {
    .cheerup {
        background-color: rgb(208, 243, 255);
        display: flex;
        display: inline-block;
        align-content: center;
        border: 3px solid white;
        border-radius: 5px;
        height: 125px;
        width: 27%;
        margin: 1% 2% 1% 2%;
    }
}

@media screen and (max-width: 1000px) {
    .cheerup {
        background-color: rgb(208, 243, 255);
        display: flex;
        display: inline-block;
        align-content: center;
        border: 3px solid white;
        border-radius: 5px;
        height: 105px;
        width: 80%;
        margin: 1% 2% 1% 2%;
    }


}

.new, .edit {
    background-color: rgb(208, 243, 255);
    display: flex;
    display: inline-block;
    align-content: center;
    border: 3px solid white;
    border-radius: 5px;
    height: 100px;
    width: 80%;
    margin: 1% 2% 1% 2%;
}

.edit {
    height: 130px;
}

.links {
    display: inline-block;
}

.likes {
    width: 50%;
}